@{
    ViewBag.Title = "Home Page";
}

<div class="row">
        <div class="col-md-12 text-center">
            <h2>Track Matches</h2>
            <p>
                Tracker allows you to track matches, showing you which teams you are beating and which teams you need to practice against.
            </p>
        </div>
</div>