@model IEnumerable<COMP2084_Assignment2.Models.Match>
@{
    ViewBag.Title = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>Matches Found <span class="text-info">@Model.Count()</span></h3>

<ul>
    @foreach (var match in Model)
    {
        <li>Test</li>
    }
</ul>

